.App {
    text-align: center;
    height: 100%;
}

.App-logo {
    height: 100px;
}

.App-header {
    background-color: rgb(31, 98, 141);
    height: 150px;
    padding: 20px;
    color: #f1f1f1;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    color: #f1f1f1;
}

input {
    width: 85%;
    border-radius: 5px;
    padding: 12px;
    margin: 12px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    font-size: 25px;
    font-weight: bolder;
    background-color: #999;
}

input:focus {
    box-shadow: inset 1px 1px 2px 0px #c9c9c9;
}

.primary, .secondary, .google {
    border-radius: 5px;
    box-shadow: 0px 1px 20px #222;
    font-family: sans-serif;
    margin: 15px;
    color: #f5f5f5;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.primary {
    background-image: linear-gradient(to bottom, rgb(0, 146, 230), rgb(0, 129, 204));
    border: solid rgb(31, 98, 141) 10px;
}

.secondary {
    background-image: linear-gradient(to bottom, rgb(204, 177, 0), rgb(179, 155, 0));
    border: solid rgb(128, 111, 0) 10px;
}

.google {
    background-image: linear-gradient(to bottom, rgb(60, 186, 84), rgb(50, 150, 50));
    border: solid rgb(0, 100, 0) 10px;
}

.google:hover {
    background-image: linear-gradient(to bottom, rgb(120, 200, 160), rgb(100, 180, 100));
}

.primary:hover, .secondary:hover, .google:hover {
    cursor: pointer;
    text-decoration: none;
}

.primary:hover {
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.secondary:hover {
    background-image: linear-gradient(to bottom, rgb(255, 221, 0), rgb(230, 200, 0));
}
