.gig {
    font-size: 40px;
    display: inline-block;
    background-color: #eee;
    min-width: 300px;
    width: 300px;
    height: 100px;
    line-height: 50px;
    box-shadow: 5px 5px 5px #111;
    margin: 10px;
    transition-property: all;
    transition-duration: 0.2s;
}

.gigContainer {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.userWrapper {
    background-color: red;
}

.gig>h4 {
    margin-top: -65px;
    color: #f1f1f1;
}

.gig:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 #111;
}

.gig.userGig {
    border-top: solid #666 60px;
    border-bottom: solid #666 50px;
}

.gig.googleGig {
    border-top: solid rgb(60, 186, 84) 60px;
    border-bottom: solid rgb(60, 186, 84) 50px;
}

.gig.fbGig {
    border-top: solid rgb(31, 68, 100) 60px;
    border-bottom: solid rgb(20, 68, 100) 50px;
}

@media (max-width: 400px) {
    .gig>h4 {
        margin-top: -65px;
        color: #f1f1f1;
    }
}
