body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bolder;
}

body {
    background-color: rgb(31, 98, 141);
}

::-webkit-scrollbar {
    width: 0px;
    height: 20px
}

::-webkit-scrollbar-track {
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

input[type=checkbox] {
    transform: scale(2);
}
