.menu {
    background-color: #1f628d;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #111;
    margin: 0;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition-property: top;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.menu.notVisible {
    top: -500%;
}

.menuWrapper {
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}
