.snackBar {
    line-height: 75px;
    box-shadow: 5px 5px 5px #111;
    width: 200px;
    height: 75px;
    margin: auto;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    color: #f5f5f5;
    background-color: rgb(204, 177, 0);
    font-size: 20px;
    opacity: 0.9;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.snackBar.notVisible {
    opacity: 0.0;
}

.snackBar:hover {
    cursor: default;
}
